<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
  </head>

  <th:block layout:fragment="main">
    
  <h1>회원 가입</h1>
  <div>
    <h4>약관 동의</h4>
    <hr> 
    <b>이용약관동의(필수)</b> 
    <input type="checkbox">
    <br>
    <textarea>
      추가예정
    </textarea>
    <b>이용약관동의(필수)</b> 
    <input type="checkbox">
    <hr>
    <b>회원가입 약관에 모두 동의합니다</b>
    <input type="checkbox">
    <br>
    <textarea>
      추가예정
    </textarea>
    <br>
    <a href="/">취소</a>
    <a href="/signup">가입하기</a>
  </div>
  </th:block>

  
</html>
