<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <!-- 페이지별 CSS 작성 <link th:href="@{/css/pages/*.css}" rel="stylesheet" /> -->
  </head>
  <th:block layout:fragment="main">
    <!-- 내용은 여기 작성 -->

    <h1>주문 페이지</h1>

    <!-- 주문자 정보 -->
    <div>
      <h2>주문자 정보</h2>
      <!-- 회원일 경우 -->
      <table th:if="${session.loginUser}" th:object="${session?.loginUser}">
        <tr>
          <th>이름</th>
          <td th:text="*{userName}"></td>
        </tr>

        <tr>
          <th>이메일</th>
          <td th:text="*{userEmail}"></td>
        </tr>

        <tr>
          <th>휴대폰 번호</th>
          <td th:text="*{userTel}"></td>
        </tr>
      </table>

      <!-- 비회원일 경우 -->
      <table th:unless="${session.loginUser}">
        <tr>
          <th>이름</th>
          <td><input type="text" id="userName" name="userName" required></td>
        </tr>

        <tr>
          <th>이메일</th>
          <td><input type="text" id="userEmail" name="userEmail" required></td>
        </tr>

        <tr>
          <th>휴대폰 번호</th>
          <td><input type="text" id="userTel" name="userTel" required></td>
        </tr>
      </table>
    </div>

    <!-- 배송지 선택 -->
    <div>
      <h2>배송지 선택창</h2>
      <table>

        <!-- 회원일 경우 -->
        <tr>
          <th>배송주소</th>
          <td th:if="${session.loginUser}">
            <input type="text" id="userAddress" th:value="${session.loginUser.userAddress}">
          </td>

          <!-- 비회원일 경우 -->
          <td th:unless="${session.loginUser}">
            <input type="text" id="userAddress">
          </td>
        </tr>

        <tr>
          <th>배송 요청사항</th>
          <td><input type="text" value="문앞에 놓아 주세요."></td>
        </tr>

      </table>
    </div>

    <!-- 배송시 요청사항 -->
    <div>
      <h2>배송시 요청사항</h2>
    </div>

    <!-- 결재 수단 -> 추가 예정 -->
    
    <!-- 주문한 상품 목록 -->
    <div>
      <h2>주문한 상품 목록</h2>

      <ul>
        <th:block th:each="orderDetail : ${order.itemStockNoList}">

          <li>
            <p th:text="|상품명 : *{orderDetail.itemName}|"></p>
            <p th:text="|상품 가격 : *{orderDetail.itemPrice} 원|"></p>
            <p th:text="|사이즈 : *{orderDetail.sizeVal}mm|"></p>
            <p>
              <span th:text="|수량 : *{orderDetail.orderItemCount} 개|"></span> / 
              <span th:text="|*{orderDetail.itemPrice * orderDetail.orderItemCount} 원|"></span>
            </p>
          </li>

        </th:block>
      </ul>
    </div>

    <!-- 결재 정보 -->
    <div>
      <p th:text="|총 상품 가격 : ${order.totalPrice} 원|"></p>
      <table>

        <tr>
          <th>총상품가격</th>
          <td th:text="|${order.totalPrice} 원|"></td>
        </tr>

        <tr>
          <th>배송비</th>
          <td>0 원</td>
        </tr>

        <tr>
          <th>결재방법</th>
          <td>
            <input type="radio" checked> <span>계좌이체</span> <br>
            <span>은행 선택 : </span>
            <select name="bankSelect">
              <option value="">카카오뱅크</option>
              <option value="">국민은행</option>
              <option value="">우리은행</option>
              <option value="">하나은행</option>
            </select>
          </td>
        </tr>

      </table>

    </div>

    <button type="button" id="orderBtn">주문하기</button>

    <script th:inline="javascript">
      const order = /*[[${order}]]*/"주문내역";
      const loginUser = /*[[${session.loginUser}]]*/"로그인한 사용자";
    </script>

    <script src="/js/order/checkout.js"></script>
  </th:block>
</html>
