<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <link th:href="@{/css/pages/item.css}" rel="stylesheet" />
  </head>
  <th:block layout:fragment="main">
    <div class="item-main">
      <div class="pageTitle">상품 목록 페이지</div>

      <!-- 상품 정렬 버튼 -->
      <div class="item-content">
        <div class="itemSort">
          <a href="#" onclick="selectItems(0, 1)">기본 정렬</a>||
          <a href="#" onclick="selectItems(1, 1)">기본 역순 정렬</a>||
          <a href="#" onclick="selectItems(2, 1)">가격순 정렬</a>||
          <a href="#" onclick="selectItems(3, 1)">가격 역순 정렬</a>||
          <a href="#" onclick="selectItems(4, 1)">이름순 정렬</a>||
          <a href="#" onclick="selectItems(5, 1)">이름 역순 정렬</a>
        </div>

        <!-- 상품 목록 영역 -->
        <div class="itemList">
          <ul id="itemListUl" class="itemListUl"></ul>
        </div>

        <div class="page">
          <ul id="pageUl" class="pageUl"></ul>
        </div>
      </div>
    </div>
    <script src="/js/item/item.js"></script>
  </th:block>
</html>
