<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <!-- 페이지별 CSS 작성 <link th:href="@{/css/pages/*.css}" rel="stylesheet" /> -->
  </head>
  <th:block layout:fragment="main">
    
    <!-- 로그인이 되어 있지 않을 때 -->
    <th:block th:if="${session.loginUser == null}">
      <h1>로그인</h1>
      <div class="login-signup-form">
        <div class="tab-main">
          <nav class="tab-title">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home"
                type="button"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
              >
              회원 로그인
              </button>
              <button
                class="nav-link"
                id="nav-contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact"
                type="button"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false"
              >
                비회원 조회
              </button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
            <!-- 회원 로그인-->
              <form action="/user/login" method="POST" id="loginForm">
                <label>User ID: <input type="text" name ="userId" placeholder="id"/></label><br />
                <label>User Password: <input type="password" name="userPw" placeholder="pw"/></label><br />
                <input type="checkbox" name="saveId">아이디 저장
                <br>
                <button>로그인</button>
              </form>
              <form>
                <a href="/user/findId">아이디 찾기</a>
                <span>|</span>
                <a href="/user/findPw">비밀번호 찾기</a>
                <span>|</span>
                <a href="/user/agreement">회원가입</a>
              </form>
            </div>        

            <!-- 비회원 주문 조회 -->
            <div
              class="tab-pane fade"
              id="nav-contact"
              role="tabpanel"
              aria-labelledby="nav-contact-tab"
            >
              <form action="/user/" method="POST" id="ChekeOrderForm">
                <input type="text" id="orderNo" placeholder="주문번호 숫자 13자리를 입력해주세요">
                <br>
                <input type="password" id="nonUserPw" placeholder="비밀번호를 입력해주세요">
                <br>
                <button>주문 조회</button>
                <br>
                <div>
                  <b>아직 회원이 아니신가요?</b>
                  <a href="/user/agreements">회원가입</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </th:block>

  <script src="/js/user/user"></script>
</html>
