<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <link th:href="@{/css/pages/myPage.css}" rel="stylesheet" />
  </head>
  <th:block layout:fragment="main">
    <div class="myPage-main">
      <div class="pageTitle">
        안녕하세요
        <div class="userNickname">
          <th:block th:text="${session.loginUser.userNickname}"></th:block>
        </div>
        님
      </div>

      <div class="myPage-wrap">
        <div class="myPage-content userDetail">
          <div class="simpleBox">
            <img
              class="userIcon"
              th:src="@{/img/userIcon/} + ${session.loginUser.userIcon} + |.png|"
              alt="userIcon"
            />
            <div>
              <th:block th:text="${session.loginUser.userId}"></th:block>
            </div>
            <div>
              <th:block th:text="${session.loginUser.userName}"></th:block>
            </div>
          </div>
        </div>
        <div class="myPage-content userInfo">
          <div class="simpleBox">hello</div>
        </div>
      </div>

      <div class="myPage-wrap">
        <div class="myPage-content">
          <div class="simpleBox">
            <a href="/user/updateProfile">내정보 수정</a>
            <a href="">위시리스트</a>
            <a href="">내가 작성한 게시글</a>
            <a href="/order/info">주문 조회</a>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</html>
