<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head> </head>
  <th:block layout:fragment="main">
    회원가입
    <form action="/user/signup" method="post">
      <label>User ID: <input type="text" name="userId" /></label>
      <br />
      <label>User Password: <input type="text" name="userPw" /></label>
      <br />
      <label>User Nickname: <input type="text" name="userNickname" /></label>
      <br />
      <label>User Name: <input type="text" name="userName" /></label>
      <br />
      <label>User Address: <input type="text" name="userAddress" /></label>
      <br />
      <label>User Tel: <input type="text" name="userTel" /></label>
      <br />
      <label>User Email: <input type="text" name="userEmail" /></label>
      <br />
      <button>회원가입</button>
    </form>
  </th:block>
</html>
