<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <!-- <link th:href="@{/css/login.css}" rel="stylesheet" /> -->
    <title>회원 가입</title>
  </head>

  <th:block layout:fragment="main">
    <form
      action="/user/signups"
      method="POST"
      name="signupForm"
      id="signupForm"
    >
      <!-- 주소 입력 -->
      <label for="userAddress"><span class="required">주소</span></label>
      <div class="signup-input-area">
        <label for="userAddress">주소</label>
        <div class="signUp-input-area">
          <input
            type="text"
            name="userAddress"
            placeholder="우편번호"
            maxlength="6"
            id="postcode"
            th:value="${postcode}"
          />
          <button type="button" id="searchAddress">검색</button>
        </div>
        <div class="signUp-input-area">
          <input
            type="text"
            name="userAddress"
            placeholder="도로명/지번 주소"
            id="address"
            th:value="${address}"
          />
        </div>
        <div class="signUp-input-area">
          <input
            type="text"
            name="userAddress"
            placeholder="상세 주소"
            id="detailAddress"
            th:value="${detailAddress}"
          />
        </div>
      </div>
      <button type="submit" id="submitBtn">가입하기</button>
    </form>

    <script type="text/javascript" th:src="@{/js/user/signups.js}"></script>

    <script
      src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"
    ></script>
  </th:block>
</html>
