:root {
  --headerHeight: 80px;
}

header {
  height: var(--headerHeight);
}

.title-main .title-text:hover {
  color: var(--quaternaryColor);
}

.title-text {
  font-family: var(--title-font-family);
  font-size: 28px;
  margin-top: 2px;
  line-height: 0;
  padding: 0 3px;
  transition: 0.2s;
  color: black;
  display: none;
}

.title-logo {
  width: 30px;
  height: 30px;
}

.header {
  height: var(--headerHeight);
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 50;
  width: calc(100vw - var(--scrollbar-width));
}

.header-main {
  height: 73%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  background-color: var(--primaryColor);
  border: var(--secondaryColor) 1px solid;
  backdrop-filter: blur(10px);
}

.header-info {
  height: 27%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  background-color: black;
  position: relative;
  z-index: 10;
}

.header-info a {
  color: white;
  margin: 0 5px;
}

.header-info a:hover {
  color: var(--secondaryColor);
}

.spacer {
  height: 100%;
}

/* Navigation List Content */
.navigationLink li {
  padding: 5px;
}

.navigationLink a {
  font-weight: 700;
}

/* Popover */
.popover-header {
  background-color: black;
  font-size: 15px;
  color: white;
}

.navigation {
  justify-content: end;
  width: 45%;
}

.form-outline {
  width: 30%;
}

.remember-me {
  display: flex;
  align-items: center;
  user-select: none; /* Prevent Text Highlight*/
}

/* Header Hide When Scroll Up */
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

/* Offcanvas Component */
/* Menu */
.menu {
  width: 30%;
}

.header .bi-list {
  font-size: 30px;
  padding: 0;
  width: 42px;
  height: 42px;
  margin-right: 8px;
  color: var(--black);
  text-align: center;
  line-height: 38px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.header .bi-list:hover {
  background-color: var(--secondaryColor);
}

/* Dropdown Component */
.dropdown * {
  border-radius: 0;
}

.dropdown .btn {
  color: black;
  background-color: var(--primaryColor);
  width: 100%;
  border: none;
}

.dropdown .btn:hover,
.dropdown-toggle[aria-expanded='true'] {
  color: white;
  background-color: black;
}

.dropdown .dropdown-menu {
  width: 100%;
}

.dropdown .dropdown-item:hover {
  bottom: 0;
  width: 100%;
  background-color: var(--primaryColor);
}

.dropdown .dropdown-item:hover {
  width: 100%;
  background-color: var(--secondaryColor);
}

.navigation {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 30%;
}

.navigation div {
  padding: 0px 5px;
}

.search-box {
  display: flex;
}

/* Wish List */
.wishList {
  font-size: 30px;
}

.wishList:hover {
  
}

/* Cart */
.cart {
  font-size: 30px;
  line-height: 0;
  margin-bottom: 2px;
  position: relative;
}

.cart-indicator {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 3px;
  background-color: red;
}

/* Search */
.search button {
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: var(--quaternaryColor);
  transition: 0.14s;
}

.search button:hover {
  color: var(--tetriaryColor);
  background-color: var(--secondaryColor);
}

.search .bi-search {
  font-size: 20px;
}

/* Searchbar */
#searchbar {
  width: 100%;
}

#searchbar-input {
  width: 100%;
}

@media (min-width: 768px) {
  .title-text {
    display: flex;
  }
}
