@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* TEKROT 로고 폰트 */
@font-face {
  font-family: 'tekrot';
  src: url('../font/Tekrot.ttf') format('truetype');
  font-style: normal;
}

/* ROKAF 메인 폰트 */
@font-face {
  font-family: 'rokaf';
  src: url('../font/ROKAF Slab Serif Bold.ttf') format('truetype');
}

:root {
  --title-font-family: 'tekrot';

  --devColor: rgba(38, 36, 48, 0.03);

  --black: rgb(0, 0, 0);

  --primaryColor: rgb(255, 255, 255);
  --secondaryColor: rgb(232, 231, 228);
  --tetriaryColor: rgb(90, 88, 88);
  --quaternaryColor: rgb(39, 37, 37);

  --backgroundColor: rgb(255, 255, 255);

  --main-font-family: 'Pretendard';
  --main-font-weight: 400;
  --main-font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  color: var(--quaternaryColor);

  background-color: var(--devColor);

  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
}

a {
  color: var(--quaternaryColor);
  text-emphasis: none;
  text-decoration: none;
  transition: 0.15s;
}

a:hover {
  color: var(--tetriaryColor);
}

body {
  overflow-x: hidden;
}

button {
  border: var(--quaternaryColor) 1px solid;
  border-radius: 3px;
}

li {
  list-style-type: none;
}

input {
  border: var(--tetriaryColor) 1px solid;
  border-radius: 3px;
}

header,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
  background-color: var(--backgroundColor);
}

.main {
  display: flex;
  justify-content: center;
  background-color: var(--secondaryColor);
}

.content {
  background-color: white;
  min-height: 100vh;
  width: 100%;
  padding: 8px;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content * {
  font-weight: 700;
}

.sideSpacer {
  display: hidden;
  border: var(--secondaryColor) solid 1px;
  border-top: 0;
  border-bottom: 0;
  background-color: white;
}

.modal-open {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: scroll;
}

.userIcon {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

/* 부트스트랩 초기화 */
textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
  outline: 0 none;
}
/* 버튼 스타일 */
.btn-shoesing {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(0, 0, 0);
  --bs-btn-border-color: rgb(39, 37, 37);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(39, 37, 37);
  --bs-btn-hover-border-color: rgb(39, 37, 37);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(39, 37, 37);
  --bs-btn-active-border-color: rgb(39, 37, 37);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(90, 88, 88);
  --bs-btn-disabled-border-color: rgb(90, 88, 88);
}
.btn-shoesing-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(255, 255, 255);
  --bs-btn-border-color: rgb(0, 0, 0);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(253, 252, 252);
  --bs-btn-hover-border-color: rgb(39, 37, 37);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: rgb(0, 0, 0);
  --bs-btn-active-border-color: rgb(0, 0, 0);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(90, 88, 88);
  --bs-btn-disabled-border-color: rgb(224, 224, 224);
}

/* ------------------------- 반응형 설정 ------------------------- */

/* sm --- Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* md --- Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-container {
    max-width: 1200px;
  }

  .main-container {
    max-width: 1700px;
  }

  .pageTitle {
    justify-content: left;
  }
}

/* lg --- Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .sideSpacer {
    display: flex;
    width: 250px;
  }
}

/* xl --- Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
