.myPage-content {
  margin: 8px;
  display: flex;
  width: 100%;
}

.userNickname {
  background: rgb(100, 11, 145);
  background: linear-gradient(
    137deg,
    rgba(100, 11, 145, 1) 22%,
    rgba(5, 156, 143, 1) 89%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 5px;
}

/* 유저 정보 */
.myPage-wrap {
  display: flex;
  flex-direction: row;
}

.userDetail {
  width: 70%;
}

.userInfo {
  width: 30%;
}
