<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <link th:href="@{/css/pages/myPage.css}" rel="stylesheet" />
  </head>
  <th:block layout:fragment="main">
    <div class="myPage-main">
      <div class="pageTitle"><a href="/admin">관리자</a> > 회원 관리</div>
      <div class="itemSort">
        <a href="#" onclick="userList(0)">기본 정렬</a>||
        <a href="#" onclick="userList(1)">기본 역순 정렬</a>||
        <a href="#" onclick="userList(4)">이름순 정렬</a>||
        <a href="#" onclick="userList(5)">이름 역순 정렬</a>
      </div>
      <table class="list-table" style="overflow: auto">
        <thead>
          <tr id="userThead">
            <th>번호</th>
            <th>아이디</th>
            <th>이메일</th>
            <th>닉네임</th>
            <th>이름</th>
            <th>주소</th>
            <th>전화번호</th>
            <th>생성일</th>
            <th>탈퇴여부</th>
            <th>수정</th>
          </tr>
        </thead>

        <tbody id="userTbody"></tbody>
      </table>

      <div id="modal"></div>
    </div>

    <script type="text/javascript" th:src="@{/js/admin/user.js}"></script>
  </th:block>
</html>
