<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="footer"
    ><link th:href="@{/css/footer.css}" rel="stylesheet" />

    <!-- 푸터 -->
    <footer>
      <div class="footer-main">
        <div class="title">Provided By SHOESING™</div>

        <div class="footer-content">
          <div class="info">
            <p>SHOESING 코리아 대표 Chung Seop Lee</p>
            <p>서울특별시 강남구 강남구 테헤란로14길 6</p>
          </div>
          <div class="info">
            <p>문의 전화번호 010-1234-1234</p>
            <p>문의 이메일 service@shoesing.co.kr</p>
          </div>

          <div class="spacer"></div>

          <div class="siteMap">
            <p><a href="/user/restoration">회원복구</a></p>
            <p><a href="">주문조회</a></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- 전달 확인용 alert 메세지-->
    <script th:inline="javascript">
      const message = /*[[${message}]]*/ '전달 받은 message';

      if (message != null) alert(message);
    </script>
  </th:block>
</html>
