<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 페이지 공통 제목 -->
    <title>Shoesing</title>

    <!-- 스타일 -->
    <link th:href="@{/lib/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/lib/jquery-ui.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css}"
    />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- 헤더 -->
    <th:block th:replace="~{fragments/layouts/header::header}">헤더</th:block>

    <div class="main">
      <div class="main-container">
        <!-- 스페이서 L -->
        <div class="sideSpacer"></div>

        <!-- 메인 내용 -->
        <div class="content">
          <th:block layout:fragment="main"></th:block>
        </div>

        <!-- 스페이서 R -->
        <div class="sideSpacer"></div>
      </div>
    </div>

    <!-- 푸터 -->
    <th:block th:replace="~{fragments/layouts/footer::footer}">푸터</th:block>

    <!-- 자바 스크립트 -->
    <script type="text/javascript" th:src="@{/lib/jquery-3.7.1.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/lib/bootstrap.bundle.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/bootstrap-autocomplete.js}"
    ></script>
    <script type="text/javascript" th:src="@{/lib/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/js/mainJquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
  </body>
</html>
