/* 주문 정보 테이블 */
.orderInfoDiv {
    width: inherit;
}

.orderInfoTb {
    border: 2px solid rgba(225, 225, 225, 0.566);
    width: inherit;
}

.orderInfoTb tr {
    height: max-content;
}
.orderInfoTb td {
    padding-left: 1%;
    height: 5cqw;
}

.orderInfoTb th {
    width: 10cqw;
    min-width: 80px;
    padding-right: 1%;
    border-bottom: 1px solid rgba(225, 225, 225, 0.566);
    background-color: rgba(225, 225, 225, 0.566);
    text-align: right;
}

.orderInfoTb tr > td:last-child {
    border-bottom: solid rgba(225, 225, 225, 0.566);
}

/* 주문 성공 메시지 */
.orderSuccessDiv {
   margin-top: 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
}


/* 주문 상품 목록 UL */
.orderListUl {
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

/* 각 상품 요소 */

/* li */
.orderListbox {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 2px solid rgba(225, 225, 225, 0.566);
    display: flex;
    align-items: center;
    aspect-ratio: 3 / 1;
}

.imgDiv {
    margin-left: 3%;
    width: 27%;
    position: relative;
    border: 2px solid rgba(225, 225, 225, 0.566);
    align-items: center;
    overflow-y: hidden;
    display: flex;
    aspect-ratio: 1 / 1;
}

.itemImg {
    object-fit: cover;
    bottom: 0;
    position: absolute;
}

.infoDiv {
    padding-left: 2%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* 참고 메시지 */
.messageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}