<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- 인증 메일 템플릿 -->
  <body>
    <div>
      <th:block>
        <div
          style="
            border: 6px solid black;
            border-radius: 5px;
            width: 420px;
            height: 320px;
            padding-top: 100px;
          "
        >
          <img
            src="cid:emailAuth"
            alt=""
            style="position: relative; margin-left: 10px"
          />
          <div
            class="authKey"
            th:text="${authKey}"
            style="
              text-align: center;
              line-height: 80px;
              color: rgb(78, 78, 78);
              font-weight: 600;
              font-size: 28px;
              margin: 0 auto;
              background-position-x: 100px;
              width: 380px;
              height: 80px;
              border: 6px solid black;
              border-radius: 5px;
            "
          >
            이메일 인증번호입니다
          </div>
        </div>
      </th:block>
    </div>
  </body>
</html>
