<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- 인증 메일 템플릿 -->
  <body>
    <div>
      <th:block>
        <img src="cid:emailAuth" alt="" style="position: relative" />
        <div
          class="authKey"
          th:text="${authKey}"
          style="
            position: absolute;
            text-align: center;
            width: 540px;
            height: 620px;
            color: rgb(78, 78, 78);
            font-weight: 600;
            font-size: 28px;
            background-position-x: 100px;
            line-height: 720px;
            left: 2px;
            top: 0px;
          "
        >
          이메일 인증번호입니다
        </div></th:block
      >
    </div>
  </body>
</html>
