<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.shoesing.admin.model.mapper.AdminMapper">

	<!-- 모든 회원 조회 -->
	<select id="selectAllUser" resultType="User">
		SELECT 
			USER_NO,
			USER_ID ,
			USER_PW ,
			USER_NICKNAME ,
			USER_NAME ,
			USER_NAME ,
			USER_ADDRESS ,
			USER_TEL ,
			USER_EMAIL ,
			USER_ENROLL_DATE ,
			USER_DEL_FL ,
			USER_IDENTIFY ,
			USER_ICON 
		FROM "USER"
	</select>
	
</mapper>