<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.shoesing.cart.model.mapper.CartMapper">
	
	<select id="check">
		SELECT COUNT(*)
		FROM "CART"
		WHERE USER_NO = #{userNo} 
		AND ITEM_NO = #{itemNo}
		AND SIZE_NO = #{sizeNo}
	</select>
	
	<select id="getListCount">
		SELECT COUNT(*)
		FROM "CART"
		WHERE USER_NO = ${userNo}
	</select>
	
	<select id="selectAll">
		SELECT ITEM_NO, ITEM_NAME, ITEM_PRICE, ITEM_BRAND, 
			   ITEM_IMG_PATH, CART_ITEM_COUNT, SIZE_NO, SIZE_VAL
		FROM "CART"
		JOIN "ITEM" USING(ITEM_NO)
		JOIN "SIZE" USING(SIZE_NO)
		WHERE USER_NO = ${userNo}
		ORDER BY CART_ITEM_UPLOAD_DATE
	</select>
	
	<delete id="delete">
		DELETE FROM "CART" 
		WHERE USER_NO = ${userNo}
		AND ITEM_NO IN
			<foreach collection="cartList" item="i" open="(" close=")" separator=", ">
				#{i.itemNo}
			</foreach>
			
		AND SIZE_NO IN
			<foreach collection="cartList" item="i" open="(" close=")" separator=", ">
				#{i.sizeNo}
			</foreach>
		
	</delete>
	
	<update id="add">
		UPDATE "CART" SET
			CART_ITEM_COUNT = CART_ITEM_COUNT + (#{cartItemCount})
		WHERE USER_NO = #{userNo}
		AND ITEM_NO = #{itemNo}
	</update>
	
	<insert id="insert">
		INSERT INTO "CART"
		VALUES(
			#{itemNo}, 
			#{sizeNo}, 
			#{userNo}, 
			#{cartItemCount}, 
			DEFAULT
		)
	</insert>
	
	<select id="selectCart">
		SELECT ITEM_NAME, ITEM_PRICE, ITEM_BRAND, ITEM_IMG_PATH, SIZE_VAL
		FROM "ITEM"
		JOIN "STOCK" USING(ITEM_NO)
		JOIN "SIZE" USING(SIZE_NO)
		WHERE ITEM_NO = ${itemNo}
		AND SIZE_NO = ${sizeNo}
	</select>
	
	<update id="update">
		UPDATE "CART" SET
			CART_ITEM_COUNT = CART_ITEM_COUNT + ${cartItemCount}
		WHERE USER_NO = ${userNo}
		AND ITEM_NO = ${itemNo}
		AND SIZE_NO = ${sizeNo}
	</update>
	
</mapper>