<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.shoesing.item.model.mapper.ItemMapper">
	
	<resultMap type="Item" id="item_rm">
		
		<id property="itemNo" column="ITEM_NO"/>
		
		<collection property="stockList"
					select="selectSizeList"
					column="ITEM_NO"
					javaType="java.util.ArrayList"
					ofType="Stock"
		/>
		
		<collection property="imageList"
					select = "selectImageList"
					column = "ITEM_NO"
					javaType = "java.util.ArrayList"
					ofType = "ItemImg"
		/>
	</resultMap>
	
	<!-- 상품 전체 조회 -->
	<select id="selectAll">
		SELECT A.ITEM_NO, ITEM_NAME, ITEM_PRICE, (IMG_PATH || IMG_RENAME) THUMBNAIL
		FROM "ITEM" A
		LEFT JOIN "ITEM_IMG" B
		ON A.ITEM_NO = B.ITEM_NO
		WHERE IMG_ORDER = 0
		OR IMG_ORDER IS NULL
		ORDER BY
		
		<!-- 기본 정렬 -->
		<if test="sortNo == 0">
			ITEM_NO
		</if>
		
		<!-- 기본 역순 정렬 -->
		<if test="sortNo == 1">
			ITEM_NO DESC
		</if>
		
		<!-- 가격순 정렬 -->
		<if test="sortNo == 2">
			ITEM_PRICE, ITEM_NO
		</if>
		
		<!-- 가격 역순 정렬 -->
		<if test="sortNo == 3">
			ITEM_PRICE DESC, ITEM_NO
		</if>
		
		<!-- 이름순 정렬 -->
		<if test="sortNo == 4">
			ITEM_NAME, ITEM_NO
		</if>
		
		<!-- 이름 역순 정렬 -->
		<if test="sortNo == 5">
			ITEM_NAME DESC, ITEM_NO
		</if>
		
		<!-- 리뷰순 정렬 (아직 비활성화)
		<if test="${sortNo == 0}">
			
		</if> -->
	</select>
	
	<!-- 상품 전체 조회 (검색용) -->
	<select id="selectAllNo">
		SELECT ITEM_NO, ITEM_NAME
		FROM "ITEM"
	</select>
	
	<!-- 상품 총 개수  -->
	<select id="getListCount">
		SELECT COUNT(*) 
		FROM "ITEM"
	</select>
	
	<select id="selectOne" resultMap="item_rm">
		SELECT ITEM_NO, ITEM_NAME, ITEM_PRICE, ITEM_UPLOAD_DATE, 
				ITEM_BRAND, ITEM_INFO, CATEGORY_NO, 
				(SELECT IMG_PATH || IMG_RENAME
				 FROM "ITEM_IMG"
				 WHERE ITEM_NO = #{itemNo}
				 AND   IMG_ORDER = 0) THUMBNAIL
		FROM "ITEM"
		WHERE ITEM_NO = ${itemNo}
	</select>
	
	<!-- 해당 상품 사이즈별 재고 검색 -->
	<select id="selectSizeList" resultType="Stock">
		SELECT ITEM_STOCK_NO, SIZE_NO, ITEM_NO, SIZE_VAL, SIZE_STOCK
		FROM "STOCK"
		JOIN "SIZE" USING(SIZE_NO)
		WHERE ITEM_NO = ${itemNo}
	</select>
	
	<!-- 상품 이미지 조회 -->
	<select id="selectImageList" resultType="ItemImg">
		SELECT IMG_NO, IMG_PATH, IMG_ORIGINAL_NAME, IMG_RENAME, IMG_ORDER, ITEM_NO
		FROM "ITEM_IMG"
		WHERE ITEM_NO = #{itemNo}
		ORDER BY IMG_ORDER
	</select>
	
	<!-- 상품 상세 수정 (관리자) -->
	<update id="updateItem">
		UPDATE "ITEM" SET
		ITEM_BRAND = #{itemBrand},
		ITEM_NAME = #{itemName},
		ITEM_PRICE = #{itemPrice},
		ITEM_INFO = #{itemInfo}
		WHERE ITEM_NO = #{itemNo}
	</update>
	
	<!-- 상품 추가 (관리자) -->
	<insert id="insertItem" useGeneratedKeys="true" parameterType="map">
	<selectKey resultType="_int" keyProperty="itemNo" order="BEFORE">
        SELECT LAST_NUMBER 
		FROM USER_SEQUENCES
		WHERE SEQUENCE_NAME = 'SEQ_ITEM_NO'
    </selectKey>
	INSERT INTO "ITEM"
	VALUES(
		SEQ_ITEM_NO.NEXTVAL, 
		SEQ_ITEM_NO.CURRVAL || '번째 상품', 
		0,
		0,
		DEFAULT, 
		SEQ_ITEM_NO.CURRVAL || '번쨰 상품의 브랜드', 
		SEQ_ITEM_NO.CURRVAL || '번쨰 상품의 설명~',
		NULL,
		NULL, 
		1
	)
	</insert>
	
	<!-- 상품 하나 삭제 -->
	<delete id="deleteItem">
		DELETE FROM "ITEM" 
		WHERE ITEM_NO = #{itemNo}
	</delete>
	
	<update id="updateStock">
		UPDATE "STOCK" SET
		SIZE_STOCK = #{sizeStock}
		WHERE ITEM_NO = #{itemNo}
		AND SIZE_NO = #{sizeNo}
	</update>
	
	<!-- 상품 전체 조회 -->
	<select id="selectNew">
		SELECT A.ITEM_NO, ITEM_NAME, ITEM_PRICE, (IMG_PATH || IMG_RENAME) THUMBNAIL
		FROM "ITEM" A
		LEFT JOIN "ITEM_IMG" B
		ON A.ITEM_NO = B.ITEM_NO
		WHERE (IMG_ORDER = 0
		OR IMG_ORDER IS NULL)
		ORDER BY ITEM_NO DESC
		FETCH FIRST 10 ROW ONLY
	</select>
	
	<!-- 상품 번호 -->
	<insert id="insertStock">
		INSERT INTO "STOCK"
		<foreach collection="list" item="i" open="(" close=")" separator=" UNION ">
			SELECT
			NEXTVAL_STOCK_NO(),
	        CURR_ITEM_NO(),
	        #{i}, 
	        0
			FROM DUAL
		</foreach>	
	</insert>

	
	
</mapper>











