<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.shoesing.item.model.mapper.ItemMapper">
	
	<resultMap type="Item" id="item_rm">
		
		<id property="itemNo" column="ITEM_NO"/>
		
		<collection property="stockList"
					select="selectSizeList"
					column="ITEM_NO"
					javaType="java.util.ArrayList"
					ofType="Stock"
		/>
		

	</resultMap>
	
	<!-- 상품 전체 조회 -->
	<select id="selectAll">
		SELECT ITEM_NO, ITEM_NAME, ITEM_PRICE
		FROM "ITEM"
		ORDER BY 
		
		<!-- 기본 정렬 -->
		<if test="sortNo == 0">
			ITEM_NO
		</if>
		
		<!-- 기본 역순 정렬 -->
		<if test="sortNo == 1">
			ITEM_NO DESC
		</if>
		
		<!-- 가격순 정렬 -->
		<if test="sortNo == 2">
			ITEM_PRICE, ITEM_NO
		</if>
		
		<!-- 가격 역순 정렬 -->
		<if test="sortNo == 3">
			ITEM_PRICE DESC, ITEM_NO
		</if>
		
		<!-- 이름순 정렬 -->
		<if test="sortNo == 4">
			ITEM_NAME, ITEM_NO
		</if>
		
		<!-- 이름 역순 정렬 -->
		<if test="sortNo == 5">
			ITEM_NAME DESC, ITEM_NO
		</if>
		
		<!-- 리뷰순 정렬 (아직 비활성화)
		<if test="${sortNo == 0}">
			
		</if> -->
	</select>
	
	<!-- 상품 총 개수  -->
	<select id="getListCount">
		SELECT COUNT(*) 
		FROM "ITEM"
	</select>
	
	<select id="selectOne" resultMap="item_rm">
		SELECT ITEM_NO, ITEM_NAME, ITEM_PRICE, ITEM_UPLOAD_DATE, 
				ITEM_BRAND, ITEM_INFO, CATEGORY_NO, 
				(SELECT IMG_PATH || IMG_RENAME
				 FROM "ITEM_IMG"
				 WHERE ITEM_NO = #{itemNo}
				 AND   IMG_ORDER = 0) THUMBNAIL
		FROM "ITEM"
		WHERE ITEM_NO = ${itemNo}
	</select>
	
	<!-- 해당 상품 사이즈별 재고 검색 -->
	<select id="selectSizeList" resultType="Stock">
		SELECT SIZE_NO, ITEM_NO, SIZE_VAL, SIZE_STOCK
		FROM "STOCK"
		JOIN "SIZE" USING(SIZE_NO)
		WHERE SIZE_STOCK > 0
		AND ITEM_NO = ${itemNo}
	</select>
	
	<!-- 상품 이미지 조회 -->
	<select id="selectImageList" resultType="ItemImg">
		SELECT IMG_NO, IMG_PATH, IMG_ORIGINAL_NAME, IMG_RENAME, IMG_ORDER, ITEM_NO
		FROM "ITEM_IMG"
		WHERE ITEM_NO = #{itemNo}
		ORDER BY IMG_ORDER
	</select>
	
	<!-- 상품 상세 수정 (관리자) -->
	<update id="updateItem">
		UPDATE "ITEM" SET
		ITEM_BRAND = #{itemBrand},
		ITEM_NAME = #{itemName},
		ITEM_PRICE = #{itemPrice},
		ITEM_INFO = #{itemInfo}
		WHERE ITEM_NO = #{itemNo}
	</update>
	
	<!-- 상품 추가 (관리자) -->
	<insert id="insertItem">
	INSERT INTO "ITEM"
	VALUES(
		SEQ_ITEM_NO.NEXTVAL, 
		SEQ_ITEM_NO.CURRVAL || '번째 상품', 
		0,
		0,
		DEFAULT, 
		SEQ_ITEM_NO.CURRVAL || '번쨰 상품의 브랜드', 
		SEQ_ITEM_NO.CURRVAL || '번쨰 상품의 설명~',
		NULL,
		NULL, 
		1
	)
	</insert>
	
</mapper>











