<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.shoesing.order.model.mapper.OrderMapper">

	<select id="selectDetailList">
		SELECT ITEM_STOCK_NO, ITEM_NO, ITEM_NAME, SIZE_NO, SIZE_VAL, ITEM_PRICE
		FROM "STOCK"
		JOIN "ITEM" USING(ITEM_NO)
		JOIN "SIZE" USING(SIZE_NO)
		WHERE ITEM_STOCK_NO IN 
			<foreach collection="list" item="i" open="(" close=")" separator=", " >
				#{i}
			</foreach>
	</select>
	
	<!-- 주문목록 생성 -->
	<insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderNo" keyColumn="ORDER_NO">
	
		<selectKey order="BEFORE" resultType="_int" keyProperty="orderNo">
			SELECT SEQ_ORDER_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO "USER_ORDER"
		VALUES(
			#{orderNo},
			DEFAULT,
			#{orderAddress},
			DEFAULT,
			#{orderPrice},
			
			<if test="userNo == 0">#{orderNo}</if>
			<if test="userNo != 0">#{userNo}</if>
		)
	</insert>
	
	<!-- 세부 주문목록 생성 -->
	<insert id="insertOrderDetail" >
	
		INSERT INTO "ORDER_DETAIL"
			<foreach collection="itemStockNoList" item="i" open="(" close=")" separator=" UNION ">
				SELECT NEXT_ORDER_DETAIL_NO(), #{orderNo}, #{i.itemStockNo}, #{i.orderItemCount}
				FROM DUAL
			</foreach>	
		
	</insert>
	
	<!-- 관리자용 주문목록 -->
	<select id="selectOrder">
		SELECT ORDER_NO, ORDER_DATE, ORDER_ADDRESS, USER_NO, ORDER_PRICE, ORDER_CONFIRM		FROM "USER_ORDER"
		FROM "USER_ORDER"
		ORDER BY ORDER_DATE
	</select>
	
	<!-- 회원용 주문목록 -->
	<select id="selectUserOrder">
		SELECT ORDER_NO, ORDER_DATE, ORDER_ADDRESS, USER_NO,
			   (SELECT SUM(ITEM_PRICE * ORDER_ITEM_COUNT)
			    FROM "ORDER_DETAIL" B
			    JOIN STOCK USING(ITEM_STOCK_NO)
			    JOIN ITEM USING(ITEM_NO)
			    GROUP BY ORDER_NO
			    HAVING B.ORDER_NO = A.ORDER_NO
			   ) AS ORDER_PRICE, 
			   ORDER_CONFIRM
		FROM "USER_ORDER" A
		WHERE USER_NO = #{userNo}
		ORDER BY ORDER_DATE
	</select>
	
	<select id="detailInfo">
		SELECT ORDER_DETAIL_NO, ITEM_STOCK_NO, ITEM_NAME, SIZE_VAL, ITEM_PRICE, ORDER_ITEM_COUNT,
				(IMG_PATH || IMG_RENAME) THUMBNAIL
		FROM "ORDER_DETAIL"
		JOIN "STOCK" USING(ITEM_STOCK_NO)
		JOIN "ITEM" USING(ITEM_NO)
		JOIN "SIZE" USING(SIZE_NO)
		JOIN "ITEM_IMG" USING(ITEM_NO)
		WHERE ORDER_NO = ${orderNo}
		AND (
			IMG_ORDER = 0
			OR IMG_ORDER IS NULL
		)
	</select>
	
	<select id="getUserListCount">
		SELECT COUNT(*)
		FROM "USER_ORDER"
		WHERE USER_NO = ${userNo}
	</select>
	
	<select id="getAllListCount">
		SELECT COUNT(*)
		FROM "USER_ORDER"
	</select>
	
	<!-- 처리 상태 변경 -->
	<update id="update">
		UPDATE "USER_ORDER" SET
			ORDER_CONFIRM = DECODE(ORDER_CONFIRM, 'N', 'Y', 'N')
		WHERE ORDER_NO = ${orderNo}
	</update>
	
	<select id="selectOne">
		SELECT ORDER_DATE, ORDER_ADDRESS, ORDER_PRICE
		FROM "USER_ORDER"
		WHERE ORDER_NO = ${orderNo}
	</select>
	
</mapper>















