<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.shoesing.user.model.mapper.UserMapper">
	
	<!-- 회원 로그인 -->
	<select id="login" resultType="User">
		SELECT 
			USER_NO , 
			USER_ID , 
			USER_PW , 
			USER_NICKNAME , 
			USER_NAME , 
			USER_ADDRESS , 
			USER_TEL , 
			USER_EMAIL , 
			USER_ENROLL_DATE , 
			USER_DEL_FL , 
			USER_IDENTIFY ,
			USER_ICON
		FROM "USER"
		WHERE USER_ID = #{userId}
	</select>
	
	<!-- 회원가입 -->
	<insert id="signup">
		INSERT INTO "USER" 
		VALUES(
			SEQ_USER_NO.NEXTVAL, 
			#{userId},
			#{userPw}, 
			#{userNickname}, 
			#{userName}, 
			#{userAddress}, 
			#{userTel}, 
			#{userEmail}, 
			DEFAULT,
			DEFAULT, 
			DEFAULT, 
			DEFAULT
		)
	</insert>
	
	<!-- 중복 체크 -->
	<select id="check" resultType="_int">
		SELECT COUNT(*)
		FROM "USER"
		WHERE 
			<choose>
				<!-- 유저 아이디 -->
				<when test='method == "userId"'>
					USER_ID = #{input}
				</when>
				<!-- 유저 닉네임 -->
				<when test='method == "userNickname"'>
					USER_ID = #{input}
				</when>
				<!-- 유저 이메일 -->
				<when test='method == "userEmail"'>
					USER_EMAIL = #{input}
				</when>
				<!-- 유저 실명 -->
				<when test='method == "userName"'>
					USER_NAME = #{input}
				</when>
			</choose>
	</select>
	
	<!-- 회원 탈퇴 -->
	<update id="delete">
		UPDATE "USER" SET
		USER_DEL_FL = 'Y'
		WHERE USER_ID = #{userId}
	</update>

	<!-- 회원 복구 -->
	<update id="restoration">
		UPDATE "USER" SET
		USER_DEL_FL = 'N'
		WHERE USER_ID = #{userId}
	</update>

	<!-- 회원 탈퇴 체크 -->
	<select id="checkDel">
		SELECT COUNT(*)
		FROM "USER"
		WHERE USER_ID = #{userId}
		AND USER_DEL_FL = 'N'
	</select>

	
</mapper>