<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <!-- 페이지별 CSS 작성 <link th:href="@{/css/pages/*.css}" rel="stylesheet" /> -->
    <link th:href="@{/css/pages/common/page.css}" rel="stylesheet" />
    <link th:href="@{/css/pages/order/checkout.css}" rel="stylesheet" />
  </head>
  <th:block layout:fragment="main">
    <!-- 내용은 여기 작성 -->

    <!-- 주문자 정보 -->
    <div class="userInfoDiv">
      <h2>주문자 정보</h2>
      <!-- 회원일 경우 -->
      <table class="userInfoTb" th:if="${session.loginUser}" th:object="${session?.loginUser}">
        <tr>
          <th><span>이름</span></th>
          <td th:text="*{userName}"></td>
        </tr>

        <tr>
          <th><span>이메일</span></th>
          <td th:text="*{userEmail}"></td>
        </tr>

        <tr>
          <th rowspan="2"><span>휴대폰</span></th>
          <td th:text="*{userTel}"></td>
        </tr>
      </table>

      <!-- 비회원일 경우 -->
      <table class="userInfoTb" th:unless="${session.loginUser}">
        <tr>
          <th><span>이름</span></th>
          <td>
            <input type="text" id="userName" name="userName" required />
            <br><span id="nameMessage"></span>
          </td>
        </tr>

        <!-- <tr>
          <td id="nameMessage"></td>
        </tr> -->

        <tr>
          <!-- 이메일 입력 -->
          <form action="/email/signup" method="POST">
            <th><span>이메일</span></th>

            <td class="signup-input-area">
              <!-- form 전달용 input -->
              <input type="hidden" name="userEmail" id="inputEmail" />

              <input type="text" class="domain" id="userEmail" /> @
              <input type="text" name="inputDomain" id="inputDomain" />
              <select title="이메일 도메인 선택" id="domainList">
                <option selected disabled>선택</option>

                <option value="naver.com">네이버</option>
                <option value="gmail.com">구글</option>
                <option value="daum.net">다음</option>
                <option value="kh.co.kr">KH</option>
                <option value="apple.com">애플</option>
                <option value="kakao.com">카카오</option>
                <option value="">직접입력</option>
              </select>
              <button id="sendAuthKeyBtn" type="button">인증번호 요청</button><br>
              <span class="signup-message" id="emailMessage">
                메일을 받을 수 있는 이메일을 입력해주세요.
              </span>
            </td>

            
          </form>
        </tr>

        <tr>
          <!-- 인증번호 입력 -->
          <form action="/email/checkAuthKey" method="POST">
            <th><span>인증번호</span></th>

            <td class="signup-input-area">
              <input
                type="text"
                name="authKey"
                id="authKey"
                placeholder="인증번호 입력"
                maxlength="6"
                autocomplete="off"
              />
              <button id="checkAuthKeyBtn" type="button">인증하기</button>
            </ㅅ>

            <span class="signup-message" id="authKeyMessage"></span>
          </form>
        </tr>

        <tr>
          <th><span>휴대폰</span></th>
          <td>
            <input type="text" id="userTel" name="userTel" required /><br>
            <span id="telMessage"></span>
          </td>
        </tr>
        

        <tr>
          <th><span>비밀번호</span></th>
          <td><input type="password" name="userPw" id="userPw"></td>
        </tr>

        <tr>
          <th><span>비밀번호<br>확인</span></th>
          <td>
            <input type="password" name="userPwConfirm" id="userPwConfirm"><br>
            <span id="pwMessage"></span>
          </td>
        </tr>

      </table>
    </div>

    <!-- 배송지 선택 -->
    <div class="addressDiv">
      <h2>배송지 선택창</h2>
      <table class="addressTb">
        <!-- 회원일 경우 -->
        <tr>
          <th>배송주소</th>
          <td th:if="${session.loginUser}">
            <div class="signUp-input-area">
              <input
                type="text"
                id="postcode"
                th:value="${session.loginUser.userAddress}"
              />
              <button type="button" id="searchAddress">검색</button>
            </div>
            <div class="signUp-input-area">
              <input
                type="text"
                name="userAddress"
                placeholder="도로명/지번 주소"
                id="address"
                th:value="${session.loginUser.userAddress}"
              />
            </div>
            <div class="signUp-input-area">
              <input
                type="text"
                name="userAddress"
                placeholder="상세 주소"
                id="detailAddress"
                th:value="${session.loginUser.userAddress}"
              />
            </div>
          </td>

          <!-- 비회원일 경우 -->
          <td th:unless="${session.loginUser}">
            <div class="signUp-input-area">
              <input
                type="text"
                name="userAddress"
                placeholder="우편번호"
                maxlength="6"
                id="postcode"
              />
              <button type="button" id="searchAddress">검색</button>
            </div>
            <div class="signUp-input-area">
              <input
                type="text"
                name="userAddress"
                placeholder="도로명/지번 주소"
                id="address"
              />
            </div>
            <div class="signUp-input-area">
              <input
                type="text"
                name="userAddress"
                placeholder="상세 주소"
                id="detailAddress"
              />
            </div>
          </td>
          <td></td>
        </tr>

        <tr>
          <th>배송 요청사항</th>
          <td><input type="text" value="문앞에 놓아 주세요." /></td>
        </tr>
      </table>
    </div>

    <!-- 결재 수단 -> 추가 예정 -->

    <!-- 주문한 상품 목록 -->
    <div class="orderListDiv">
      <h2>주문한 상품 목록</h2>

      <ul class="orderListUl">
        <th:block th:each="orderDetail : ${order.itemStockNoList}">
          <li>
            <p th:text="|상품명 : *{orderDetail.itemName}|"></p>
            <p th:text="|상품 가격 : *{orderDetail.itemPrice} 원|"></p>
            <p th:text="|사이즈 : *{orderDetail.sizeVal}mm|"></p>
            <p>
              <span th:text="|수량 : *{orderDetail.orderItemCount} 개|"></span>
              /
              <span
                th:text="|*{orderDetail.itemPrice * orderDetail.orderItemCount} 원|"
              ></span>
            </p>
          </li>
        </th:block>
      </ul>
    </div>

    <!-- 결재 정보 -->
    <div class="orderDiv">
      <h1>총 결제 정보</h1>
      <p th:text="|총 상품 가격 : ${order.orderPrice} 원|"></p>
      <table class="orderTb">
        <tr>
          <th>총상품가격</th>
          <td th:text="|${order.orderPrice} 원|"></td>
        </tr>

        <tr>
          <th>배송비</th>
          <td>0 원</td>
        </tr>

        <tr>
          <th>결재방법</th>
          <td>
            <input type="radio" checked /> <span>계좌이체</span> <br />
            <span>은행 선택 : </span>
            <select name="bankSelect">
              <option value="">카카오뱅크</option>
              <option value="">국민은행</option>
              <option value="">우리은행</option>
              <option value="">하나은행</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <button type="button" id="orderBtn">주문하기</button>

    <form action="/order/orderSuccess" method="post" id="orderSubmit">
      <input type="hidden" name="orderNo">
    </form>

    <script th:inline="javascript">
      const order = /*[[${order}]]*/ '주문내역';
      const loginUser = /*[[${session.loginUser}]]*/ '로그인한 사용자';
    </script>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script th:src="@{/js/order/checkOut.js}"></script>
  </th:block>
</html>
