<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <!-- 페이지별 CSS 작성 <link th:href="@{/css/pages/*.css}" rel="stylesheet" /> -->
  </head>
  <th:block layout:fragment="main">
    <!-- 내용은 여기 작성 -->
    <h1>주문 성공</h1>

    <div>
        <p>주문 번호 : [[${orderNo}]]</p>
        <p>배송지 : [[${order.orderAddress}]]</p>
        <p>결제 금액 : [[${order.orderPrice}]]</p>
        <p>주문/결제가 정상적으로 완료되었습니다.</p>
        <p>저희 Shooesing을 이용해 주셔서 감사합니다.</p>
    </div>

    <div>
      <ul th:object="${order}">
        <th:block th:each="i : *{itemStockNoList}">
          <li>
            <img src="/img/cat1.jpg">
            <div>
              <div>상품명 : [[${i.itemName}]]</div>
              <div>상품 가격 : [[${i.itemPrice}]]</div>
              <div>상품 사이즈 : [[${i.sizeVal}]]</div>
              <div>상품 수량 : [[${i.orderItemCount}]]</div>
            </div>
          </li>
        </th:block>
      </ul>

        <p>회원 주문내역 확인은 [마이페이지 > 주문 조회] 에서 하실 수 있습니다.</p>
        <p>비회원 주문내역 확인은 [주문 조회] 에서 하실 수 있습니다.</p>
    </div>

  </th:block>
</html>