.item-main {
  width: 100%;
}
#itemListUl {
  display: flex;
  flex-wrap: wrap;
}

.item-content {
}

.itemBox {
  width: 300px;
  height: 300px;
}

.pageUl {
  display: flex;
}

.pageNo {
  width: 20px;
  height: 20px;
}

.itemSort {
  display: flex;
}

.itemListUl {
  display: flex;
  justify-content: left;
  align-items: center;
}

.pageUl {
  display: flex;
  justify-content: center;
}
