.images {
  display: flex;
}

.itemList {
  width: 100px;
}
.itemListEach {
}

/* -------------------- 돋보기 -------------------- */
.magnify {
  position: relative;
  cursor: none;
}
.magnify-large {
  position: absolute;
  display: none;
  border-radius: 5px;
  z-index: 100;
  width: 280px;
  height: 280px;
}
