/* 상품 감싸는 ul */
#itemListUl {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* 상품 각각 요소 */
.itemBox {
  margin: 0 10%;
  display: flex;
  width: 80%;
}
.itemBox > a {
  width: 100%;
  height: 90cqw;
  align-items: center;
  overflow-y: hidden;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  transition: 0.2s;
}

.itemBox > a:hover {
  transform: scale(1.03);
}

/* -------------------- 상품 설정 -------------------- */
.itemOption {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
/* 상품 정렬 */
.itemSort {
  display: flex;
  width: 140px;
}
.dropdown-menu {
  min-width: inherit;
  padding: 5px;
}

/* -------------------- 상품 정보 -------------------- */
/* 상품 썸네일 */
.itemThumbnail {
  width: 92%;
  height: 72%;
  position: relative;
}
.itemThumbnail img {
  width: 100%;
  object-fit: cover;
  bottom: 0;
  position: absolute;
}

/*  상품 텍스트 */
.itemText {
  margin: 5px 0;
  width: 92%;
}
.itemText * {
  line-height: 120%;
}

/* 번호 */
.itemA {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 2px 8px;
}
.itemNo {
  width: 100%;
  font-family: var(--main-font-family);
  font-weight: 900;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.12);
  font-style: italic;
}
/* 상품 찜 */
.itemWishList {
  height: 30px !important;
}
.itemWishList i {
  font-size: 18px;
}
/* 이름 */
.itemName {
  font-family: var(--main-font-family);
  font-weight: 800;
  font-size: 18px;
}
/* 상세 */
.itemDetail {
  font-family: var(--main-font-family);
  color: rgb(104, 101, 101);
  font-weight: 600;
  font-size: 12px;
}
/* 가격 */
.itemPrice {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 16px;
  margin: 2px 0;
}

.pageNo {
  width: 20px;
  height: 20px;
}

.pageUl {
  display: flex;
  justify-content: center;
}

/* ------------------------- 반응형 설정 ------------------------- */

/* sm --- Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .itemBox a {
    height: calc(90cqw);
  }
  .itemBox {
    width: 80%;
    margin: 0 10%;
  }
}

/* md --- Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .itemBox a {
    height: calc(40cqw);
  }
  .itemBox {
    width: 33.3%;
    margin: 0;
  }
}

/* lg --- Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .itemBox a {
    height: calc(28cqw);
  }
  .itemBox {
    width: 33.3%;
    margin: 0;
  }
}

/* xl --- Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .itemBox a {
    height: calc(23cqw);
  }
  .itemBox {
    width: 25%;
    margin: 0;
  }
}

/* xl --- Extra large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {
  .itemBox a {
    height: calc(22cqw);
  }
  .itemBox {
    width: 25%;
    margin: 0;
  }
}
