<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <link th:href="@{/css/pages/item/itemDetail.css}" rel="stylesheet" />
  </head>
  <th:block layout:fragment="main">
    <div class="itemProfile">
      <div class="images">
        <!-- 상품 이미지 리스트 -->
        <div class="itemList">
          <th:block th:if="${#lists.size(item.imageList) > 1}">
            <th:block th:each="i : ${#numbers.sequence(1, 5)}">
              <!-- 5개로 한정-->
              <div class="itemListEach">
                <img
                  data-toggle="magnify"
                  th:src="|${item.imageList[i].imgPath}${item.imageList[i].imgRename}|"
                  style="height: var(--itemHeight)"
                />
              </div>
            </th:block>
          </th:block>
        </div>

        <!-- 상품 썸네일 이미지 -->
        <div class="itemThumbnailDiv">
          <img th:src="${item.thumbnail}" class="itemThumbnail" />
        </div>
      </div>

      <!-- 상품 util -->
      <div class="itemInfo">
        <div class="itemInfoDetail">
          <div>
            <p th:text="${item.itemBrand}" class="itemBrand">상품 브랜드</p>
            <div class="itemNameDiv">
              <div th:text="${item.itemName}" class="itemName">상품명</div>
              <div
                th:text="|${#numbers.formatInteger(item.itemPrice, 3, 'COMMA')}₩|"
                class="itemPrice"
              >
                상품 가격
              </div>
            </div>
            <p class="itemDetail" th:text="${item.itemInfo}">상품 상세</p>
          </div>

          <!-- 상품 사이즈 input 박스 -->
          <div class="itemOrderDiv">
            <form action="#" method="post" class="itemOrder">
              <div class="itemSize">
                <div th:each="size : ${item.stockList}" style="width: 20%">
                  <th:block th:if="*{size.sizeStock} > 0" style="width: 100%">
                    <div class="itemSizeEach">
                      <input
                        type="radio"
                        name="inputSize"
                        th:value="*{size.sizeNo}"
                        class="btn-check"
                        th:id="*{size.sizeNo}"
                      />
                      <label
                        class="btn btn-shoesing-secondary"
                        th:for="*{size.sizeNo}"
                      >
                        [[*{size.sizeVal}]]
                      </label>
                    </div>
                  </th:block>
                  <th:block th:unless="*{size.sizeStock} > 0">
                    <div class="itemSizeEach">
                      <input
                        type="radio"
                        name="inputSize"
                        class="btn-check"
                        disabled
                      />
                      <label
                        class="btn btn-shoesing-secondary"
                        th:for="*{size.sizeNo}"
                      >
                        [[*{size.sizeVal}]]
                      </label>
                    </div>
                  </th:block>
                </div>
              </div>

              <!-- 상품 수량 입력창 -->
              <div class="input-group itemAmountLabel">
                주문 수량:
                <input
                  type="number"
                  class="form-control itemAmount"
                  value="1"
                  min="1"
                  max="5"
                />
              </div>

              <!-- 비동기로 위시리스트 추가 요청 -->
              <button
                type="button"
                id="wishListBtn"
                class="btn btn-shoesing-secondary"
              >
                위시리스트
                <i
                  id="heart"
                  class="bi-suit-heart"
                  style="margin: 0; font-size: 20px; line-height: 0"
                ></i>
              </button>
              <!-- 비동기로 장바구니 추가 요청 -->
              <button
                type="button"
                id="cartBtn"
                class="btn btn-shoesing-secondary"
              >
                장바구니
              </button>
              <!-- 상품 구매 submit -->
              <button
                id=""
                th:text="|${#numbers.formatInteger(item.itemPrice, 3, 'COMMA')}원 바로 결제하기|
             "
                class="btn btn-shoesing"
              >
                바로 구매
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      const item = /*[[${item}]]*/ '상품 정보';
      const loginUser = /*[[${session.loginUser}]]*/ '로그인 유저';
    </script>
    <script th:src="@{/js/item/itemDetail.js}"></script>
  </th:block>
</html>
