<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layouts/main}"
>
  <head>
    <!-- 페이지별 CSS 작성 <link th:href="@{/css/pages/*.css}" rel="stylesheet" /> -->
    <link th:href="@{/css/pages/common/page.css}" rel="stylesheet" />
    <link th:href="@{/css/pages/cart/cart.css}" rel="stylesheet" />
  </head>
  <th:block layout:fragment="main">
    <!-- 내용은 여기 작성 -->
    <h1>장바구니</h1>

    <!-- 상품 목록 UL -->

    <form action="/order/checkout" method="post" id="orderForm">
      <div class="btnDiv" style="display: flex">
        <input
          type="checkbox"
          id="checkAll"
          style="width: 22px; margin-right: 5px"
        />
        <button type="button" id="checkDelBtn">선택 상품 삭제</button>
        <button type="submit" id="orderBtn">선택 상품 구매</button>
      </div>
      <ul id="cartUl" class="cartUl">
        <!-- 장바구니 1개 샘플
          <li>
              <input type="checkbox" name="itemStockNoList" value = "1">
              <input type="hidden" name="itemStockNo" value="1"> 
              <img src="/img/cat1.jpg" width="150px" height="150px">
  
              <div>
                  <p>상품 이름</p>
                  <p>상품 가격</p>
                  <p>상품 브랜드</p>
              </div>
              <button></button>
          </li> -->
      </ul>
    </form>

    <!-- 페이지 UL -->
    <ul id="pageUl" class="pageUl"></ul>

    <script type="text/javascript" th:src="@{/js/cart/cart.js}"></script>
  </th:block>
</html>
